@using Bumbo.App.Web.Models.ViewModels.Employee;
@model EmployeeViewModel

@{
    ViewData["Title"] = "Medewerkersgegevens";
}

<div class="d-flex justify-content-between">
    <a asp-action="Index" class="btn btn-secondary">Terug</a>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.employee_id" class="btn btn-primary">Wijzig</a>
        <form asp-action="Delete" method="post" style="display:inline">
            <input type="hidden" name="id" value="@Model.employee_id" />
            <button type="submit" class="btn btn-danger" onclick="return confirm('Weet je zeker dat je @Model.first_name wil verwijderen?')">Verwijder</button>
        </form>
    </div>
</div>

<h1>Medewerkersgegevens</h1>

<div>
    <label class="fw-bold">Medewerkers ID</label>
    <p>@Model.employee_id</p>
</div>

<div>
    <label class="fw-bold">Branch ID</label>
    <p>@Model.branch_id</p>
</div>

<div>
    <label class="fw-bold">Afdeling</label>
    <p>@Model.position</p>
</div>

<div>
    <label class="fw-bold">Startdatum contract</label>
    <p>@Model.hiring_date.ToString("dd-MM-yyyy")</p>
</div>

<div>
    <label class="fw-bold">Voornaam</label>
    <p>@Model.first_name</p>
</div>

<div>
    <label class="fw-bold">Tussenvoegsel</label>
    <p>@Model.infix</p>
</div>

<div>
    <label class="fw-bold">Achternaam</label>
    <p>@Model.last_name</p>
</div>

<div>
    <label class="fw-bold">Geboortedatum</label>
    <p>@Model.date_of_birth.ToString("dd-MM-yyyy")</p>
</div>

<div>
    <label class="fw-bold">Huisnummer</label>
    <p>@Model.house_number</p>
</div>

<div>
    <label class="fw-bold">Toevoeging</label>
    <p>@Model.addition</p>
</div>

<div>
    <label class="fw-bold">Postcode</label>
    <p>@Model.zip_code</p>
</div>

<div>
    <label class="fw-bold">E-mailadres</label>
    <p>@Model.email_adres</p>
</div>

<div>
    <label class="fw-bold">Wachtwoord</label>
    <p>@Model.password</p>
</div>
