@model Bumbo.App.Web.Models.ViewModels.ShiftTrading.ShiftTradingViewModel
<h1>Ruilverzoeken</h1>
<table class="table">
    <thead>
    <tr>
        <th>Medewerker</th>
        <th>Datum</th>
        <th>Tijd</th>
        <th>Filiaal</th>
        <th>Afdeling</th>
        <th>Geclaimd door</th>
        <th>Acties</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var shift in Model.Shifts)
    {
        <tr>
            <td>@shift.EmployeeName</td>
            <td>@shift.Date.ToString("dd-MM-yyyy")</td>
            <td>@shift.StartTime.ToString("HH:mm") - @shift.EndTime.ToString("HH:mm")</td>
            <td>@shift.BranchId</td>
            <td>@shift.Department</td>
            <td>@shift.ClaimEmployeeName</td>
            <td>
                <form method="post">
                    <input type="hidden" name="employee" value="@shift.EmployeeId"/>
                    <input type="hidden" name="branch" value="@shift.BranchId"/>
                    <input type="hidden" name="date" value="@shift.Date.ToString("dd-MM-yyyy")"/>
                    <input type="hidden" name="startTime" value="@shift.StartTime.ToString("HH:mm:ss")"/>
                    <button type="submit" asp-action="AcceptShiftOffer" class="btn btn-success">Accepteren</button>
                    <button type="submit" asp-action="DenyShiftOffer" class="btn btn-danger">Wijgeren</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
